.aside-sidebar {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 40;
	width: 16rem;
	height: 100vh;
	transition-property: transform;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 300ms;
}

@media (min-width: 640px) {
	.aside-sidebar {
		--transform-translate-x: 0;
	}
}
.main-div-sidebar {
	overflow-y: auto;
	padding-left: 0.75rem;
	padding-right: 0.75rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	height: 100%;
	background-color: #F9FAFB;
}

.sidebar-ul {
	margin-top: 0.5rem;
	font-weight: 500;
}

.sidebar-a {
	display: flex;
	padding: 0.5rem;
	align-items: center;
	border-radius: 0.5rem;
	color: #111827;
}

.sidebar-a:hover {
	background-color: #F3F4F6;
}


